<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

<!-- entête du document -->
<head>
	<meta charset="UTF-8"/> 
	<title>Home</title>
    <link rel="stylesheet" type="text/css" href="../venv/Lib/bootstrap.css">
</head>
<body>
<h1 class="titre">Ajouter vos fichiers</h1><hr class="hr1">
<div class="container">
        <div class="alert alert-danger" role="alert">Une erreur est parvenue</div>
        <form class="form-horizontal" method="post" action="../upload.php" enctype="multipart/form-data">
            <div class="form-group">
            <div class="row">
                <div class="col-md-1"></div>
                <label class="col-md-4 control-label">
                    File1
                </label>
                <div class="col-md-3">
                    <input name="file"  type="file" class="form-control"/> 
                </div>
            </div>
            <br/>
            <div class="row">
                    <div class="col-md-1"></div>
                    <label class="col-md-4 control-label">
                        File2
                    </label>
                    <div class="col-md-3">
                        <input name="file2"  type="file" class="form-control"/> 
                    </div>
            </div>
        </div>
         <div class="col-md-1"></div>
        <label class="col-md-4 control-label"></label>
        <div class="col-md-3">
            <input name="submit" type="submit" class="form-control"/>                
        </div>
    </form>
</div>
</body>
</html>